.primeiraDivIDClass{
    background-color: rgba(212, 73, 18, 0.788);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
body
{
    /* display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: rgb(72, 148, 148); */
    
}

.principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 110, 90);
}
.columnLabelWidthInput
{
    
}

.columnLabelWidthInput{
}
tem menu de contexto